                                <div id="bio">
                                        <img src="{{ site.baseurl }}/img/paddy.jpg" alt="Paddy Foran" /><br />
                                        <h3>Paddy Foran</h3>
                                </div>
                                <nav>
                                        <ul>
                                            <li><a href="{{ site.baseurl }}/" title="Bio">bio</a></li>
                                                <li><a href="{{ site.baseurl }}/posts" title="Posts">posts</a></li>
                                                <li><a href="{{ site.baseurl }}/talks" title="Talks">talks</a></li>
                                                <li><a href="https://www.github.com/paddyforan" title="Code" rel="me">code</a></li>
                                                <li><a href="http://www.twitter.com/paddyforan" title="Twitter" rel="me">twitter</a></li>
																								<li><a href="http://www.gittip.com/paddyforan" title="Gittip">gittip</a></li>
																								<li><a href="http://yourapiisbad.com" title="Your API Is Bad">your api is bad</a></li>
																								<li><a href="{{ site.baseurl }}{{site.baseurl }}/{% if page.categories contains "talks" %}talks{% else %}posts{% endif %}/feed.xml" id="subscribe-link">subscribe</a></li>
                                        </ul>
															  </nav>
