                                <div id="bio">
                                        <img src="{{ site.baseurl }}/img/paddy.jpg" alt="Paddy Foran" /><br />
                                        <h3>Paddy Foran</h3>
                                </div>
                                <nav>
                                        <ul>
                                            <li><a href="{{ site.baseurl }}/" title="Bio">bio</a></li>
                                                <li><a href="{{ site.baseurl }}/posts" title="Posts">posts</a></li>
                                                <li><a href="{{ site.baseurl }}/talks" title="Talks">talks</a></li>
                                                <li><a href="https://www.github.com/paddyforan" title="Code">code</a></li>
                                                <li><a href="http://www.twitter.com/paddyforan" title="Twitter">twitter</a></li>
                                                <li><a rel="author" href="http://profiles.google.com/112924888792635085586" title="Google+">google+</a></li>
                                        </ul>
															  </nav>
																<div id="subscribe">
																	<h3>Subscribe</h3>
																	<input type="button" onclick="(function(){var z=document.createElement('script');z.src='https://s3.amazonaws.com/www.subtome.com/load.js';document.body.appendChild(z);})()" value="Subscribe">
																</div>
