{{ partial "header.html" . }}

<article>
{{ if .Params.img }}{{ $.Scratch.Add "bannerImg" "/img/posts/" }}{{ $.Scratch.Add "bannerImg" .Params.img.file }}<img src="{{ $.Scratch.Get "bannerImg" | absURL }}" class="cover-image" />
{{ if.Params.img.title }}<p class="cover-image-attribution">{{ if .Params.img.title }}{{ if .Params.img.link }}<a href="{{ .Params.img.link }}" title="{{ .Params.img.title }}">{{ end }}<em>{{ .Params.img.title }}</em>{{ if .Params.img.link }}</a>{{ end }}{{ else }}Cover image{{ end }} by {{ .Params.img.attr }}</p>{{ end }}
{{ end }}
<header class="entry-header">
<h1 class="entry-title">{{ .Title }}</h1>

{{ if .Date }}<div class="entry-meta">
  {{ .Date.Format "January 2, 2006" }}
</div><!-- .entry-meta -->{{ end }}
</header><!-- .entry-header -->

<div class="entry-content">
  {{ if .Params.quote }}
  <blockquote class="opener">{{ .Params.quote.text | markdownify }}</blockquote>
  {{ if .Params.quote.attr }}
  <p class="opener-attribution">&mdash;{{ .Params.quote.attr | markdownify }}</p>
  {{ end }}
  {{ end }}

  {{ .Content }}
</div><!-- .entry-content -->
</article><!-- #post-## -->

{{ partial "footer.html" . }}
