{{ partial "header.html" . }}

<article>
	<img src="{{ "/img/posts/windmills.jpg" | absURL }}" class="cover-image" />
	<p class="cover-image-attribution"><a href="https://flic.kr/p/jLM9TC" title="Ground Sail Windmills"><em>Ground Sail Windmills</em></a> by Dennis Jarvis</p>

	<header class="entry-header">
		<h1 class="entry-title">Tilting at Windmills</h1>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>My name’s Paddy. I live in Richland, Washington with my <a href="https://twitter.com/carver_ethan" title="Ethan’s Twitter">husband</a> and <a href="https://twitter.com/RoxyThePuppy" title="Roxy’s Twitter">our puppy</a>. I write software, give <a href="{{ "/talks" | relURL }}" title="Past talks">talks</a>, and inflict my <a href="{{ "/posts" | relURL }}" title="My blog posts">opinions</a> on anyone who will listen.</p>

		<p>I started the <a href="https://getsby.co" title="gets by">gets by</a> project because I think mental illness is something we should talk about.</p>

		<p>I wrote <a href="http://yourapiisbad.com" title="Your API Is Bad">Your API Is Bad</a> because I have a lot of feels about API design, and enough people listened to me about them that I figured it made sense to put them in a book. It’s a work in progress, and released under a Creative Commons license. You can buy it from me at whatever price you like.</p>

		<p>I’ve been told that I’m overly idealistic and have been accused of being an impractical zealot. I’m at peace with these designations.</p>
	</div><!-- .entry-content -->
</article><!-- #post-## -->

{{ partial "footer.html" . }}
