<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta property="og:title" content="paddy.io: {% if page.title %}{{ page.title }}{% else %}Open Web Cheerleader{% endif %}" />
    <meta itemprop="name" content="paddy.io: {% if page.title %}{{ page.title }}{% else %}Open Web Cheerleader{% endif %}" />
    <meta property="og:type" content="blog" />
    <meta property="og:url" content="http://{{ site.domain }}{{ site.baseurl }}{{ page.url }}" />
    <meta property="og:image" content="http://{{ site.domain }}{{ site.baseurl }}/img/paddy.jpg" />
    <meta itemprop="image" content="http://{{ site.domain }}{{ site.baseurl }}/img/paddy.jpg">
    <meta property="og:site_name" content="paddy.io" />
    <meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% endif %}" />
    <meta itemprop="description" content="{% if page.summary %}{{ page.summary }}{% endif %}">
    <meta property="fb:admins" content="1274456118" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="paddy.io: {% if page.categories contains "talks" %}talks{% else %}posts{% endif %}" href="http://{{ site.domain }}{{ site.baseurl }}/{% if page.categories contains "talks" %}talks{% else %}posts{% endif %}/feed.xml" />
  </head>

  <body>
    <div id="page" class="hfeed site">

      <header id="masthead" class="site-header" role="banner">
      <div class="site-branding">
        <h1 class="site-title"><a href="{{ site.baseurl }}/" rel="home"><img src="{{ site.baseurl }}/img/avatar.jpg" class="avatar"/> Paddy</a></h1>
        <h2 class="site-description">impractical zealot</h2>
      </div>

      <ul class="main-navigation">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/posts/">Posts</a></li>
        <li><a href="{{ site.baseurl }}/talks/">Talks</a></li>
      </ul>
      </header><!-- #masthead -->

      <div id="content" class="site-content">

        <div id="primary" class="content-area">
          <main id="main" class="site-main" role="main">

          {{ content }}

          </main><!-- #main -->
        </div><!-- #primary -->


      </div><!-- #content -->

      <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="site-info">
        <p>Like what you see? <a href="http://{{ site.domain }}{{ site.baseurl }}/{% if page.categories contains "talks" %}talks{% else %}posts{% endif %}/feed.xml" title="Subscribe" id="subscribe-link">Subscribe</a> to get more or <a href="https://twitter.com/paddyforan" title="Paddy's Twitter profile">follow Paddy on Twitter</a>.</p>
      </div>
      </footer>
    </div>
    {% if page.has_tweet %}<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>{% endif %}
    <script type="text/javascript">
      var subscribeLink = document.getElementById("subscribe-link");
      if(subscribeLink) {
        subscribeLink.onclick=function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z); return false};
      }
      var _gauges = _gauges || [];
      (function() {
         var t   = document.createElement('script');
         t.type  = 'text/javascript';
         t.async = true;
         t.id    = 'gauges-tracker';
         t.setAttribute('data-site-id', '501b78b8613f5d5feb000002');
         t.src = '//secure.gaug.es/track.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(t, s);
         }
      )();
    </script>
  </body>
</html>
