---
layout: base
---

                        <article>
                                <header>
                                        <h1>{{ page.title}}</h1>
                                </header>
                                {% if page.quote %}
                                <blockquote>{{ page.quote.text }}</blockquote>
                                {% if page.quote.attr %}
                                <p class="attribution">&mdash;{{ page.quote.attr }}</p>
                                {% endif %}
                                {% endif %}
                                {{ content }}
                        </article>
                        <aside>
																{% include menu.html %}
                        </aside>
