---
layout: base
---

                        <article>
                                <header>
                                        <h1>{{ page.title}}</h1>
                                </header>
                                {% if page.quote %}
                                <blockquote>{{ page.quote.text }}</blockquote>
                                {% if page.quote.attr %}
                                <p class="attribution">-- {{ page.quote.attr }}</p>
                                {% endif %}
                                {% endif %}
                                {{ content }}
                        </article>
                        <aside>
																{% include menu.html %}
                               <div id="share">
                                        <h3>Sharing is Caring</h3>
                                        <div style="padding: .5em 2.5em .5em 0; float: right;"><div class="g-plusone" data-size="tall" data-href="http://{{ site.domain }}{{ site.baseurl }}{{ page.url }}"></div></div> <div class="fb-like" style="float: left; height: 63px; padding: .5em 0em .5em 2.5em;" data-href="http://{{ site.domain }}{{ site.baseurl }}{{ page.url }}" data-send="false" data-layout="box_count" data-width="90" data-show-faces="false"></div><br style="clear: both;" />
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ site.domain }}{{ site.baseurl }}{{ page.url }}" data-text="{{ page.title }}" data-via="paddyforan" data-related="paddyforan" data-size="large">Tweet</a><br />
                                </div>
                        </aside>
