---
layout: base
---
<article>
{% if page.img %}<img src="{{ site.baseurl }}/img/posts/{{ page.img.file }}" class="cover-image" />
<p class="cover-image-attribution">{% if page.img.title %}{% if page.img.link %}<a href="{{ page.img.link }}" title="{{ page.img.title }}">{% endif %}<em>{{ page.img.title }}</em>{% if page.img.link %}</a>{% endif %}{% else %}Cover image{% endif %} by {{ page.img.attr }}</p>
{% endif %}
<header class="entry-header">
<h1 class="entry-title">{{ page.title }}</h1>

{% if page.date %}<div class="entry-meta">
  {{ page.date | date: "%B %-d, %Y" }}
</div><!-- .entry-meta -->{% endif %}
</header><!-- .entry-header -->

<div class="entry-content">
  {% if page.quote %}
  <blockquote class="opener">{{ page.quote.text }}</blockquote>
  {% if page.quote.attr %}
  <p class="opener-attribution">&mdash;{{ page.quote.attr }}</p>
  {% endif %}
  {% endif %}

  {{ content }}
</div><!-- .entry-content -->
</article><!-- #post-## -->
